annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
pip
pydantic
pydantic_core
pydantic-settings
python-dateutil
python-dotenv
requests
six
starlette
typing_extensions
typing-inspection
urllib3
uvicorn
